.Home-body{
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 100 to 900 */
    font-style: normal;
    scrollbar-width:none;
}

.Home-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    width: 100%;
    background-color:  transparent;
}

.Home-header div{
    flex-wrap: wrap;
    padding: 1em 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.Home-header .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#btn-metro:hover, #btn-car:hover, #btn-moto:hover, #btn-bike:hover{
    transform: translate(-4px, -4px);

}

#btn-metro:hover{
    box-shadow: 4px 4px 0 rgba(255, 85, 0, 0.8);
}

#btn-car:hover{
    box-shadow: 4px 4px 0 rgb(79, 118, 157, 0.8);
}

#btn-moto:hover{
    box-shadow: 4px 4px 0 rgb(255, 166, 0, 0.8);
}

#btn-bike:hover{
    box-shadow: 4px 4px 0 rgb(255, 0, 0, 0.8);
}

#btn-home:hover{
    box-shadow: -4px 4px 0 rgba(83, 83, 83, 0.8);
    transform: translate(4px, -4px);
}

.Home .video-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
.Home .video-section video {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    z-index: -1;
}

.Home .filter{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

.Home .overlay-text {
    margin-bottom: 6vw;
    font-size: 2em;
    color: white;
    text-align: center;
    z-index: 1;
}
  

.Home-footer{
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(29, 29, 29);
    padding: 0 2em;
    color: white;
}

.Home-footer div{
    display: flex;
    gap: 20px;
}

.Home-footer a{
    color: white;
    text-decoration: none;
}